<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Info</title>
</head>
<body>
    <form method="post">
        <label for="name">Név:</label>
        <input type="text" name="name" placeholder="Név"><br>
        <label for="billingAdress">Számlázási cím:</label>
        <input type="text" name="billingAdress" placeholder="Számlázási cím"><br>
        <label for="adress">Szállítási cím:</label>
        <input type="text" name="adress" placeholder="Szállítási cím"><br>
        <label for="cupon">Kupon kód (opcionális)</label>
        <input type="text" name="cupon" placeholder="BB-SSSS"><br>
        <label for="card">Bankkrátya szám:</label>
        <input type="text" name="card" placeholder="XXXX-XXXX-XXXX-XXXX"><br>
        <label for="expDate">Lejárati dátum:</label>
        <input type="text" name="expDate" placeholder="HH/ÉÉ"><br>
        <label for="secuCode">Biztonsági kód:</label>
        <input type="text" name="secuCode" placeholder="XXX"><br>

        <input type="submit" value="Vásárlás">
    </form>
</body>
</html>