<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Termékek</title>
</head>

<body>
    <form action="/personalForm">
        <div class="box">
            <figure>
                <img src="https://picsum.photos/id/1020/600/400" alt="bear">
                <figcaption><input type="submit" value="Buy"></figcaption>
            </figure>
        
            <figure>
                <img src="https://picsum.photos/id/237/600/400" alt="dog">
                <figcaption><input type="submit" value="Buy"></figcaption>
            </figure>
        
            <figure>
                <img src="https://picsum.photos/id/598/600/400" alt="boat">
                <figcaption><input type="submit" value="Buy"></figcaption>
            </figure>
        </div>
    </form>
</body>

</html>